In [2]:
# PROGRAM TO CREATE A NEEW DICTIONARY IN WHICH KEYS BECOME VALUES AND VALUES BECOMES KEYS
dict1 = {21:"ftp",22:"ssh",23:"telent",80:"http"}
dict2 = {value : key   for key,value in dict1.items()}
print("The output :",dict2)

The output : {'ftp': 21, 'ssh': 22, 'telent': 23, 'http': 80}

In [3]:
#PROGRAM TO MAKE A NEW LIST WHICH CONTAINS THE SUM OF TUPPLE
list1 = [(1,2),(3,4),(5,6),(4,5)]
list2 = []
for each in range(0,len(list1)):
  a,b = list1[each]
  list2.append(a+b)
print("The list contains sum of tuple:",list2)

The list contains sum of tuple: [3, 7, 11, 9]

In [4]:
#PROGRAM TO MAKE THE ELEMENTS IIN THE INNER LIST AND TUPLE TO THE OUTER LIST
list1 = [(1,2,3),[1,2],['a','hit','less']]
list2 = []
list2 = [i for each in list1 for i in each]
print("The required output:",list2)

The required output: [1, 2, 3, 1, 2, 'a', 'hit', 'less']